.login-form {
  &__field {
    margin-top: rem(24px);

    > * + * {
      margin-top: rem(8px);
    }
  }

  &__label {
    display: block;

    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    line-height: $line-height-sm;
  }

  &__input {

  }
}
