.login-screen {
  &__grid {
    display: grid;
    grid-template-columns: 1fr [start] rem(320px) [end] 1fr;
    grid-template-rows: 1fr [start] auto [end] 1fr;
    height: calc(100vh - #{$header-height});
  }

  &__container {
    grid-column: start / end;
    grid-row: start / end;
  }
}
